{% extends 'EatSleepCodeFrontendBundle::frontend.html.twig' %}

{% block title %}Page not found{% endblock %}

{% block heading %}Well, this is awkward...{% endblock %}

{% block content %}
    <p>The page you are looking for does not exist. <a href="{{ path("fe_homepage") }}">Go to the home page</a></p>
{% endblock %}
