{% extends 'EatSleepCodeFrontendBundle::frontend.html.twig' %}

{% block title %}Internal error{% endblock %}

{% block heading %}Gremlins in the system...{% endblock %}

{% block content %}
    <p>Unfortunately, there has been an error processing your request. Please try again later or <a href="{{ path("fe_homepage") }}">go to the home page</a></p>
{% endblock %}
