<li><a href="{{ path('fe_league_table') }}">ESC Global League</a></li>
<li><a href="{{ path('fe_create_league') }}">Create a league</a></li>
<li><a href="{{ path('fe_join_league') }}">Join a league</a></li>
