{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Reset already requested | Forgotten password{% endblock %}

{% block heading %}Password reset already requested{% endblock %}

{% block fos_user_content %}
    <div class="flashError">{{ 'resetting.password_already_requested'|trans }}</div>
    <p><a href="{{ path('fos_user_resetting_request') }}">&lt; &lt; Back</a></p>
{% endblock fos_user_content %}
