$defaultFontSize: 14;

$primaryColour: #64908A;
$secondaryColour: #CC2A41;
$textColour: #424254;

$red: #691028;
$green: #106925;
$yellow: #E2B842;
$grey: #DDD;

$borderRadius: 8px;
$defaultMarginSpacing: 40px;

$footerHeight: 70px;
