{% extends 'EatSleepCodeAdminBundle::admin.html.twig' %}

{% block title %}Edit Setting | Users | Admin{% endblock %}

{% block heading %}Edit Setting{% endblock %}

{% block content %}
    <section class="formContent">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
