{% extends 'EatSleepCodeAdminBundle::admin.html.twig' %}

{% block title %}Settings | Admin{% endblock %}

{% block heading %}Settings{% endblock %}

{% block content %}
    <ul>
        {% for setting in settings %}
            <li>{{ setting.key }} - {{ setting.value }}</li>
        {% endfor %}
    </ul>
{% endblock %}
